* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
  }
  
  .banner {
    height: 100px;
    width: 100%;
    background-color: #036e01;
    position: fixed;
  }
  
  .navbar {
    margin-top: -40px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
  }
  
  img.logo {
    height: 180px;
  }
  
  .navbar ul {
    margin-right: -60px;
  }
  
  .navbar ul li {
    display: inline-block;
    margin: 0 70px;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    position: relative;
  }
  
  .navbar ul li a {
    color: #fff;
  }
  
  .navbar ul li::after {
    content: '';
    height: 2px;
    width: 0;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
  }
  
  .navbar ul li:hover::after {
    width: 100%;
  }
  
  .fa-house,
  .fa-users-gear,
  .fa-user-circle,
  .fa-notes-medical
   {
    font-size: 30px;
    color: white;
    margin-right: -60px;
  }
  
  .container {
    padding-top: 150px;
  }
  
  .login-form {
    background: #fff;
    width: 500px;
    margin: 65px auto;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
  }
  
  .login-form h1 {
    padding: 35px 35px 0 35px;
    font-weight: 300;
    font-size: 50px;
    color: #036501;
  }
  .error-message{
    padding-left: 40px;
    padding-top: 15px;
    margin-bottom: -10px;
    color: red;
  }
  .login-form .content {
    padding: 35px;
    text-align: center;
  }
  
  .login-form .input-field {
    padding: 12px 5px;
  }
  
  .login-form .input-field input {
    font-size: 16px;
    display: block;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    transition: all .2s;
  }
  
  .login-form .input-field input::-webkit-input-placeholder {
    text-transform: uppercase;
  }
  
  .login-form .input-field input::-moz-placeholder {
    text-transform: uppercase;
  }
  
  .login-form .input-field input:-ms-input-placeholder {
    text-transform: uppercase;
  }
  
  .login-form .input-field input::-ms-input-placeholder {
    text-transform: uppercase;
  }
  
  .login-form .input-field input::placeholder {
    text-transform: uppercase;
  }
  
  .login-form .input-field input:focus {
    border-color: #222;
  }
  .buton {
    width: 100%;
    border: none;
    padding: 18px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid;
    border-radius:0 0 5px 5px;
    border-color: #036e01;
    font-size: 20px;
  }
  .buton:hover{
    background-color: #036e01;
    color: white;
    transition: 0.5s;
  }